<section class="pb-5">
    <!-- Header -->
    <header class="text-center py-5">
      <div class="container">
        <h1 class="font-weight-light text-white">Meet the Team</h1>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-2 col-lg-4 col-md-6 mx-auto mb-4">
          <div class="card border-0 shadow">
            <img
              src="https://source.unsplash.com/TMgQMXoglsM/500x350"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Shrey Varshney</h5>
              <div class="card-text text-black-50">22BCE10373</div>
            </div>
          </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-2 col-lg-4 col-md-6 mx-auto mb-4">
          <div class="card border-0 shadow">
            <img
              src="https://source.unsplash.com/9UVmlIb0wJU/500x350"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Aradhana Mote</h5>
              <div class="card-text text-black-50">22BCE10227</div>
            </div>
          </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-2 col-lg-4 col-md-6 mx-auto mb-4">
          <div class="card border-0 shadow">
            <img
              src="https://source.unsplash.com/ZI6p3i9SbVU/500x350"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Indrayani Verulkar</h5>
              <div class="card-text text-black-50">22BCE11075</div>
            </div>
          </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-2 col-lg-4 col-md-6 mx-auto mb-4">
          <div class="card border-0 shadow">
            <img
              src="https://source.unsplash.com/ZI6p3i9SbVU/500x350"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Omkar Gaikwad</h5>
              <div class="card-text text-black-50">22BCE11602</div>
            </div>
          </div>
        </div>
        <!-- Team Member 5 -->
        <div class="col-xl-2 col-lg-4 col-md-6 mx-auto mb-4">
          <div class="card border-0 shadow">
            <img
              src="https://source.unsplash.com/ZI6p3i9SbVU/500x350"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Kriti Porwal</h5>
              <div class="card-text text-black-50">22BCE10370</div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>
  <!-- Bootstrap & Jquery JavaScripts -->
  <script src="vendor/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <!-- Main JS File -->
  <script src="js/main.js"></script>
</body>
</html>
