<section class="pb-5">
  </section>
  <!-- Bootstrap & Jquery JavaScripts -->
  <script src="vendor/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <!-- Main JS File -->
  <script src="js/main.js"></script>
</body>
</html>
